html
{
    height: 100%;
    margin: 0 0;
    padding: 0 0;
}
.screen /*фоновый экран*/
{
    display: flex;
    height: 100%;
    width: 100%;
    background-color: pink;
    justify-content: center;
    position: relative;
}
.back /*игровое поле*/
{
    display: flex;
    height: 32vw;
    width: 32vw;
    border: 1px solid black;
    background-color: dimgrey;
    position: absolute;
    top: 3vw;
    flex-wrap: wrap;  
    justify-content: space-evenly;
    align-items: center;
}
.square /*клетки игрового поля*/
{
    display: flex;
    height: 10vw;
    width: 10vw;
    border: 1px solid black;
    background-color: lightgrey;
    font-size: 12vw;
    justify-content: center;
    align-items: center;
}
.player, .winner /*блоки объявление ходов и победителей*/
{
    display: flex;
    height: 12vw;
    width: 24vw;
    color: red;
    font-size: 3em;
    text-align: center;
    position: absolute;
    top: 12vw;
    visibility: hidden;
    /*background-color: green;*/

}

